/* --------------------------------------------- *\
                    reset css
\* --------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* --------------------------------------------- *\
                       base
\* --------------------------------------------- */

body {
    width: 1440px;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
label {
    font-weight: 700;
}

h1,
h2 {
    font-size: 1.4rem;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
}

h3 {
    font-size: 1rem;
}

p {
    margin: 10px 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

/* --------------------------------------------- *\
                      Layout
\* --------------------------------------------- */

.l-container {
    width: 1340px;
    margin: 0 auto;
}

.l-header {
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.l-search-bar {
    width: 420px;
    height: 50px;
    margin: 20px 0 30px;
    display: flex;
}

.l-filters {
    height: 50px;
    margin-bottom: 40px;
    display: flex;
}

.l-accommodation {
    margin-bottom: 65px;
    display: flex;
    justify-content: space-between;
}

.l-accommodation--section {
    width: 880px;
    height: 625px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: #F2F2F2;
}

.l-accommodation--content {
    width: 800px;
    height: 540px;
    margin: 45px 40px 30px;
}

.l-accommodation--cards-container {
    width: 100%;
    height: 430px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

.l-most-popular {
    width: 420px;
    height: 625px;
    border-radius: 20px;
    background: #F2F2F2;
}

.l-most-popular--content {
    width: 345px;
    height: 540px;
    margin: 45px 40px 30px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.l-most-popular--cards-container {
    width: 345px;
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.l-activities {
    height: 445px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}

.l-activities--section {
    width: 650px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.l-activities--section-inner-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.l-footer {
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.l-footer--content {
    display: flex;
}

/* --------------------------------------------- *\
                      Module
\* --------------------------------------------- */



/* -- header -- */



.header--logo {
    width: 100px;
    height: 45px;
    margin: auto 0;
}

.header--nav-bar {
    width: 435px;
    display: flex;
}

.header--nav-list {
    width: 100%;
    height: 70%;
    display: flex;
}

.header--nav-item {
    width: 160px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header--nav-item:hover {
    border-top: 3px solid #0065FC;
    color: #0065FC;
}

.header--nav-item:nth-child(3) {
    font-weight: 700;
    color: #0065FC;
}

.header--nav-item li {
    font-size: 0.9rem;
}



/* -- form -- */



.search-bar--icon {
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
    background: #F2F2F2;
}

.search-bar--input-search {
    width: 235px;
    border: 1px solid #F2F2F2;
    border-radius: none;
    outline: none;
}

.search-bar--input-search[placeholder] {
    padding: 0 20px;
}

.search-bar--btn {
    width: 135px;
    border: none;
    border-radius: 0 15px 15px 0;
    background: #0065FC;
    color: white;
}

.filters--title,
.filter--option {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
}

.filter--option {
    margin-left: 30px;
    border: 2px solid #f2F2F2;
    border-left: none;
    border-radius: 30px;
}

.filter--icon {
    width: 50px;
    height: 100%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DEEBFF;
}

.filter--label {
    padding: 15px;
}

.search-bar--btn:hover,
.filter--option:hover,
.filter--label:hover {
    cursor: pointer;
}

.filter--option:hover {
    background: #F2F2F2;
}

.fa-info {
    width: 20px;
    height: 20px;
    border: 2px solid #f2F2F2;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.information {
    margin-bottom: 60px;
    display: flex;
    align-items: center;
}



/* -- accommodation section -- */



.accommodation--card {
    width: 245px;
    height: 200px;
    border-radius: 15px;
    background: white;
}

.accomodation--card-image {
    width: 235px;
    height: 115px;
    margin: 5px;
    border-radius: 15px 15px 0 0;
}

.accomodation--card-description {
    width: 215px;
    height: 50px;
    margin: 5px auto 0;
}

.card {
    box-shadow: 0px 2px 8px #d3d3d3;
}

.card-text {
    font-size: 14px;
    margin: 5px 0;
}

.rating-stars {
    color: #D3D3D3;
}

.icon-color {
    color: #0065FC;
}



/* -- most popular section -- */



.most-popular--title {
    width: 345px;
    display: flex;
    justify-content: space-between;
}

.most-popular--icon {
    margin-top: 5px;
}

.most-popular--card {
    width: 100%;
    height: 145px;
    border-radius: 15px;
    display: flex;
    background: white;
}

.most-popular--card-image {
    width: 130px;
    height: 135px;
    margin: 5px;
    border-radius: 15px 0 0 15px;
}

.most-popular--card-description {
    margin: 20px 20px 0;
}

.most-popular--card .card-text {
    margin: 10px 0 30px;
}



/* -- activities section -- */



.activities--card {
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
}

.card-size-1 {
    height: 445px;
}

.card-size-2 {
    height: 235px;
}

.card-size-3 {
    height: 165px;
}

.activities--card-image {
    width: 100%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activities--card .card-title {
    margin: 20px 15px;
}

.image-size-1 {
    height: 390px;
}

.image-size-2 {
    height: 180px;
}

.image-size-3 {
    height: 110px;
}



/* -- footer -- */



.l-footer--content div:nth-child(2) {
    margin: 0 300px;
}

.l-footer--content div h3 {
    margin-bottom: 20px;
}
